---
layout: default
---

<div class="page-subtitle">
    {% for tag in page.tags %}
        {% if page.tags.first == tag %}
            <b>[</b>
        {% endif %}
        <a href="{{ site.baseurl }}/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>
        {% if page.tags.last == tag %}
            <b>]</b>
        {% else %}
            ,
        {% endif %}
    {% endfor %}
</div>

<div class="page-subtitle">
    字数 {{page.content | strip_html | strip_newlines | remove: " " | size}} <b></b> <span id="busuanzi_container_page_pv">
  阅读次数<span id="busuanzi_value_page_pv"></span>
</span>
</div>

{{content}}

<div id="gitalk-container"></div>
